# Google OAuth Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# Outgoing Mail (SMTP) Configuration
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

# Database Config
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=

# Python spaCy
# must be set since this depends on whether you're on Windows or Linux (in hosting I think its linux)
PYTHON_BINARY="/opt/lampp/htdocs/ICS-PORTAL/python/.venv/bin/python3"
# Optional model path but useful to be specific
MODEL_PATH="/opt/lampp/htdocs/ICS-PORTAL/python/models/ner_trf/model-best"
TERMS_CSV_PATH="/opt/lampp/htdocs/ICS-PORTAL/python/data/terms.csv"